@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<AuthorizeView>
	<Authorized>
		<div class="user-info">
			<span class="user-name">Hello, @context.User.Identity?.Name!</span>
			<form method="post" action="/account/logout" class="logout-form">
				<AntiforgeryToken />
				<button type="submit" class="btn-logout">Log out</button>
			</form>
		</div>
	</Authorized>
	<NotAuthorized>
		<a href="/account/login?returnUrl=@Uri.EscapeDataString(Navigation.Uri)" class="btn-login">Log in</a>
	</NotAuthorized>
</AuthorizeView>
