@inherits LayoutComponentBase

<ThemeProvider>
	<div class="min-h-screen flex flex-col bg-primary-950 dark:bg-primary-50 transition-colors duration-200">
		<NavMenuComponent />
		<main class="flex-1 px-4 sm:px-6 lg:px-8 py-6 text-gray-100 dark:text-gray-900">
			<div class="max-w-7xl mx-auto">
				@Body
			</div>
		</main>
		<FooterComponent />
	</div>
</ThemeProvider>

<ToastContainer />
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
