@page "/Comment/{Id}"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IIssueService IssueService
@inject ICommentService CommentService
@inject IUserService UserService

<h1 class="page-heading text-light text-uppercase mb-4">Comment on an Issue</h1>
<div class="issue-container">
	<button id="create-comment" @onclick="() => OpenCommentForm(_issue!)"
					class="suggest-btn btn btn-outline-light btn-lg text-uppercase">
		Add Comment
	</button>
</div>

<div class="form-layout mb-3">
	<div class="close-button-section">
		<button id="close-page" class="btn btn-close" @onclick="ClosePage"></button>
	</div>
	@if (_issue is not null)
	{
		<IssueComponent Item="@_issue" LoggedInUser="@_loggedInUser"/>

		<CommentCreateComponent Issue="@_issue" LoggedInUser="@_loggedInUser"/>

@* 		<EditForm Model="_comment" OnValidSubmit="CreateComment">
			<DataAnnotationsValidator/>
			<ValidationSummary/>
			<div class="input-section">
				<label class="form-label fw-bold text-uppercase" for="title">Title of the Comment</label>
				<div class="input-description">Brief title of the Comment.</div>
				<InputTextArea class="form-control" id="title" @bind-Value="_comment.Title"/>
			</div>
			<div class="input-section">
				<label class="form-label fw-bold text-uppercase" for="desc">Comment On the Issue</label>
				<div class="input-description">Give, in full your comments.</div>
				<InputTextArea class="form-control" id="desc" @bind-Value="_comment.Description"/>
			</div>
			<div class="center-children">
				<button id="submit-comment" class="btn btn-main btn-lg text-uppercase" type="submit">Create Comment</button>
			</div>
		</EditForm> *@
	}
</div>