@page "/Details/{Id}"

@attribute [Authorize]

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IIssueService IssueService
@inject IUserService UserService
@inject IStatusService StatusService
@inject ICommentService CommentService

<PageTitle>Details Page</PageTitle>

<h1 class="page-heading text-light text-uppercase mb-4">Issue Details</h1>

<div class="issue-container">
	<button id="create-comment" @onclick="() => OpenCommentForm(_issue!)"
	        class="suggest-btn btn btn-outline-light btn-lg text-uppercase">
		Add Comment
	</button>
</div>

<div class="form-layout mb-3">

	<div class="close-button-section">
		<button id="close-page" class="btn btn-close" @onclick="ClosePage"></button>
	</div>

	@if (_issue is not null)
	{
		<IssueComponent Item="@_issue" LoggedInUser="@_loggedInUser"/>

		<SetStatusComponent @bind-Issue="_issue"/>

		@if (_comments is not null && _comments.Any())
		{
			<div class="issue-container">
				<div class="fw-bold mb-2">Comments</div>
				@foreach (var comment in _comments)
				{
					<CommentComponent Item="@comment" LoggedInUser="@_loggedInUser"/>
				}

			</div>
		}
	}

</div>