@page "/issues"
@using Microsoft.AspNetCore.Authorization
@using Web.Auth
@attribute [Authorize(Policy = AuthorizationPolicies.UserPolicy)]

<PageTitle>Issues</PageTitle>

<h1>Issues</h1>

<p>This page is accessible to authenticated users with the User role.</p>

<div class="issues-list">
	<h2>Your Issues</h2>
	<p>Issue list will be displayed here.</p>
</div>
