@page "/SampleData"

@inject IIssueService IssueService
@inject ICommentService CommentService
@inject IUserService UserService
@inject IStatusService StatusService
@inject ICategoryService CategoryService


<h3>Sample Data</h3>

@if (_usersCreated)
{
	<h4>Users have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateUsers">Create Users</button>
}

@if (_categoriesCreated)
{
	<h4>Categories have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateCategories">Create Categories</button>
}

@if (_statusesCreated)
{
	<h4>Statuses have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateStatuses">Create Statuses</button>
}

@if (_commentsCreated)
{
	<h4>Comments have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateComments">Create Comments</button>
}

@if (_issuesCreated)
{
	<h4>Issues have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateIssues">Create Issues</button>
}